.timerTop {
  background-color: $lightgray;
  .timerCenter {
    width: 90%;
    max-width: 800px;
    .timerContainer {
      padding: 40px;
      text-align: center;
      .visibleTimer {
        display: block;
        font-size: 36px;
        padding: 20px;
      }
    }
  }
}
